body{
    background: linear-gradient(red,blue,white, yellow);
}
.container{
    display: block;
    justify-content: center;
    margin: 20px;
    padding: 15px;
}
 .contenido{

 }
  
   .cabeza ol{
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
   }
   .e1{
    flex: content;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    height: 20px;
    text-align: center;
    padding: 15px;
   }
   .sorteo{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
     #carta{
       width: 150px;
       height: 200px;
       box-shadow: 5px 5px 10px rgb(47, 48, 37);
       margin: 30px;
    }
    #reto{
      margin: 30px;
      padding: auto;
    }